<div>
    <div class="text-left">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="font-monospace">id:</span> <span
                    id="network_id">{{network.id}}</span></li>
            <li class="list-group-item"><span class="font-monospace">network:</span> <span class="fw-bold"
                    id="network">{{network.network}}</span></li>
            <li class="list-group-item"><span class="font-monospace">vlan:</span> {{network.vlan}}</li>
            <li class="list-group-item"><span class="font-monospace">description:</span> {{network.description}}</li>
            <li class="list-group-item"><span class="font-monospace">available:</span> {%if overflow_prefix %}<span
                    class="fw-bold">+</span>{% endif %}{{network.available}}</li>
            <li class="list-group-item"><span class="font-monospace">used:</span> <span
                    id="network_used">{{network.used}}</span></li>
            <li class="list-group-item"><span class="font-monospace">father:</span> <span
                        id="network_used">{{network.father}}</span></li>
            <li class="list-group-item"><span class="font-monospace">free:</span> <span id="network_free">{{network.free}}</span></li>
        </ul>
    </div>
    <section class="grid-devices">

        <!-- SUBNET BLOCK-->
        {% if subnet | length > 0 %}
        <table class="table table-hover text-center align-middle" id="table_main" style="grid-column: 1/-1;">
            <thead>
                <tr>
                    <th scope="col" class="d-none d-lg-table-cell">#</th>
                    <th scope="col" class="d-none d-lg-table-cell">id</th>
                    <th scope="col">network</th>
                    <th scope="col">vlan</th>
                    <th scope="col">description</th>
                    <th scope="col d-none d-lg-table-cell">available</th>
                    <th scope="col">used</th>
                    <th scope="col">free</th>
                    {% if role == 'Admin' %}
                    <th colspan="2"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for net in subnet %}
                <tr>
                    <th scope="row" class="d-none d-lg-table-cell">{{loop.index}}</th>
                    <td data-name="id" class="d-none d-lg-table-cell">{{ net.id }}</td>
                    <td data-name="network"><a href="/{{net.id}}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ net.network }}</a></td>
                    <td data-name="vlan">{% if net.vlan %}{{net.vlan}}{% endif %}</td>
                    <td data-name="description">{{ net.description }}</td>
                    <td data-name="available" class="d-none d-lg-table-cell">{{ net.available }}</td>
                    <td data-name="used">{{ net.used }}</td>
                    <td data-name="free">{{ net.free }}</td>
                    {% if role == 'Admin' %}
                    <td class="text-center"><button type="button" class="btn btn-primary" data-type-button="modify"
                            data-row="{{loop.index}}">Modify</button></td>
                    <td class="text-center"><button type="button" class="btn btn-warning" data-type-button="clean"
                                data-row="{{loop.index}}">Clean</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- DEVICES BLOCK-->
        {% elif devices | length > 0 %}
        <div style="grid-column: 1/-1;">
            <button class="btn btn-primary" type="button" id="walk" data-ipam-walk="false">
                Walk
            </button>

            <!-- If there are fewer devices than available in the network, we can create the missing ones -->
            {% if devices | length < network.available %}
            <button class="btn btn-danger" type="button" id="missing_devices">
                Create missing devices
            </button>
            {% endif %}
        </div>
        {% for device in devices %}
        <article style="flex-grow: 1;"
            class="d-flex flex-column align-items-center justify-content-center p-2 box-border">
            <div class="d-flex align-items-center justify-content-between">
                <a type="button" class="icon-link me-1 link-hover link-danger"
                    data-ipam-ping="{{device.ip | replace(from='.', to='_')}}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bi">
                        <path fill-rule="evenodd"
                            d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
                <a type="button" href="/service?ip={{device.ip}}&network_id={{network.id}}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-1">{{ device.ip }}</a>
            </div>
            <div tabindex="0" data-bs-trigger="focus" data-bs-toggle="popover" data-bs-title="<p class='fw-bold text-center'>{{device.ip}}</p>"
                data-bs-content="
                        <div class='lh-sm'>
                            {% set location = device.location | default(value='empty') %}
                            <p><span class='font-monospace'>Status:</span> <span id='data_status' class='fw-bold {% if device.status == 'Online' %}text-online{% elif device.status == 'Offline' %}text-danger{% endif %}' id='status'>{{device.status}}</span></p>
                            <p><span class='font-monospace'>Description:</span> <span class='fw-bold' id='description'>{{device.description | default(value='empty')}}</span></p>
                            <p><span class='font-monospace'>Location:</span>
                                {% if location == 'empty' %}
                                    <span class='fw-bold' id='location'>{{location}}</span>
                                {% else %}
                                    <a role='button' href='{{location}}' id='location' class='link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'>{{location | truncate}}</a>
                                {% endif %}
                            </p>
                            <p><span class='font-monospace'>Username:</span> {% set user = device.credential.username | default(value='Unknown') %} <span class='fw-bold' id='username'>{{user}}</span></p>
                            <p><span class='font-monospace'>Password:</span> {% set pass = device.credential.password | default(value='Unknown') %}<span class='fw-bold' id='password'>{{pass}}</span></p>
                            {% if role == 'Admin' %}
                                <a role='button' class='btn btn-primary btn-sm' id='edit_device'>Edit</a>
                                {% if device.status == 'Unknown' %}
                                    <a role='button' class='btn btn-light btn-sm ms-2' id='to_reserve'>Reserve</a>
                                {% elif device.status == 'Reserved' %}
                                    <a role='button' class='btn btn-light btn-sm ms-2' id='unbook'>Unbook</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        " role="button">

                <svg xmlns="http://www.w3.org/2000/svg" id="svg_{{device.ip | replace(from='.', to='_')}}" width="75"
                    height="75" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
                    class="{% if device.status == 'Reserved' %}svg-reserve{% elif device.status == 'Online' %}svg-online{% elif device.status == 'Offline' %}svg-offline{% else %}svg-unknown{% endif %}">
                    <path
                        d="M20 3H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zM4 9V5h16v4zm16 4H4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2zM4 19v-4h16v4z">
                    </path>
                    <path d="M17 6h2v2h-2zm-3 0h2v2h-2zm3 10h2v2h-2zm-3 0h2v2h-2z"></path>
                </svg>
            </div>
        </article>
        {% endfor %}
        
        <!-- MODAL TO MODIFY A DEVICE -->
        <div class="modal fade" data-bs-backdrop="true" data-bs-keyboard="true" id="subnetting" tabindex="-1"
            aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">Device</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <!-- {% if subnet | length > 0 %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="network_id_modal">id</span>
                            <input name="id" type="text" class="form-control" aria-describedby="network_id_modal" disabled>
                        </div>
                        {% endif %} -->

                        <div class="input-group mb-3 align-items-center">
                            <span class="input-group-text">ip</span>
                            <input type="text" class="form-control" name="address" disabled>
                            <div class="form-check form-switch ms-2">
                                <input class="form-check-input" type="checkbox" role="switch" id="checkbox_to_change_address">
                                <label class="form-check-label" for="checkbox_to_change_address">Edit</label>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="description_device">description</span>
                            <input name="description" type="text" class="form-control"
                                aria-describedby="description_device">
                        </div>

                        <div class="input-group mb-3 align-items-center">
                            <span class="input-group-text" id="device_location">location</span>
                            <input name="location" type="text" class="form-control" aria-describedby="device_location">
                            <div class="form-check form-switch ms-2">
                                <input class="form-check-input" type="checkbox" role="switch" id="checkbox_to_change_location">
                                <label class="form-check-label" for="checkbox_to_change_location">Edit</label>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="device_username">username</span>
                            <input name="username" type="text" class="form-control"aria-describedby="device_username">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="device_password">password</span>
                            <input name="password" type="text" class="form-control"
                                aria-describedby="device_username">
                        </div>
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary save">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/device.exist.js" type="module"></script>
        
        <!-- If there aren't any subnets or devices, we can create them -->
        {% else %}
        <div style="grid-column: 1/-1;">
            <button type="button" class="btn btn-primary" id="new_device_new">New device</button>
            {% if ipv4 %}
            <button type="button" class="btn btn-warning" id="new_device_create_all_empty">Create all devices</button>
            {% endif %}
            <button type="button" class="btn btn-primary" id="subnet">Subnet</button>
        </div>
        {% endif %}

        {% if subnet | length > 0 or devices | length == 0 %}
        <!-- MODAL BLOCK TO CREATE SUBNET AND MODIFIE -->
        <div class="modal fade" data-bs-backdrop="true" data-bs-keyboard="true" id="subnetting" tabindex="-1"
            aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">
                            {% if subnet | length > 0 %}
                            Modify sunbed
                            {% else %}
                            Create subnet
                            {% endif %}
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {% if subnet | length > 0 %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="network_id_modal">id</span>
                            <input name="id" type="text" class="form-control" aria-describedby="network_id_modal" disabled>
                        </div>
                        {% endif %}

                        <div class="input-group mb-3 align-items-center">
                            <span class="input-group-text">Network</span>
                            <input type="text" class="form-control" name="network" disabled>
                            {% if subnet | length > 0 %}
                            <div class="form-check form-switch ms-2">
                                <input class="form-check-input" type="checkbox" role="switch" id="checkbox_network_to_change">
                                <label class="form-check-label" for="checkbox_network_to_change">Edit</label>
                              </div>
                            {% else %}
                            <span class="input-group-text">/</span>
                            <input type="text" class="form-control" name="prefix">
                            {% endif %}
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="vlan_network_modal">vlan</span>
                            <input name="vlan" type="text" class="form-control" aria-describedby="vlan_network_modal">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="description_network_modal">description</span>
                            <input name="description" type="text" class="form-control"
                                aria-describedby="description_network_modal">
                        </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary save">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>

<script src="/static/bootstrap.min.js"></script>
<script src="/static/device.js" type="module"></script>