<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
    <title>Ipam</title>
</head>
<body>    
    <main class="container" id="container">
        <nav class="nav nav-pills flex-column flex-sm-row p-3">
            <a class="flex-sm-fill text-sm-center nav-link {% if block == 'network' %}active{% endif %}" href="/">Networks</a>
            <a class="flex-sm-fill text-sm-center nav-link {% if block == 'device' %}active{% endif %}" href="#">Devices</a>
            <a class="flex-sm-fill text-sm-center nav-link {% if block == 'office' %}active{% endif %}" href="#">Offices</a>
        </nav>
        {% if block == "device" %}
            {% include "device.tera.html" %}
        {% elseif block == "network" %}
            {% include "network.tera.html" %}
        {% else %}
            {% include "office.tera.html" %}
        {% endif %}
    </main>
</body>
</html>