
{% block networks %}
    {% if networks | length > 0 %}
        <table class="table table-hover text-center align-middle" id="table_main">
            <thead>
                <tr>
                    <th scope="col" class="d-none d-lg-table-cell">#</th>
                    <th scope="col" class="d-none d-lg-table-cell">id</th>
                    <th scope="col">network</th>
                    <th scope="col">vlan</th>
                    <th scope="col">description</th>
                    <th scope="col d-none d-lg-table-cell">available</th>
                    <th scope="col">used</th>
                    <th scope="col">free</th>
                    <th colspan="{% if role == 'Admin' %}3{%else%}1{% endif %}"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for net in networks %}
                    <tr>
                        <th scope="row" class="d-none d-lg-table-cell">{{loop.index}}</th>
                        <td data-name="id" class="d-none d-lg-table-cell">{{ net.0.id }}</td>
                        <td data-name="network">{{ net.0.network }}</td>
                        <td data-name="vlan">{% if net.0.vlan %}{{net.0.vlan}}{% endif %}</td>
                        <td data-name="description">{{ net.0.description }}</td>
                        <td data-name="available" class="d-none d-lg-table-cell">{% if net.1 %}<span class="fw-bold">+</span>{% endif %} {{ net.0.available }}</td>
                        <td data-name="used">{{ net.0.used }}</td>
                        <td data-name="free">{% if net.1 %}<span class="fw-bold">+</span>{% endif %} {{ net.0.free }}</td>
                        <td class="text-center"><a href="/devices/{{net.0.id}}">Devices</a></td>
                        {% if role == 'Admin' %}
                            <td class="text-center"><button type="button" class="btn btn-primary" data-type-button="modify" data-row="{{loop.index}}">Modify</button></td>
                            <td class="text-center"><button type="button" class="btn btn-danger" data-type-button="rm" data-row="{{loop.index}}">RM</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="modal fade" data-bs-backdrop="true" data-bs-keyboard="true" id="modifNetworkModal" tabindex="-1"  aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modalLabel">Change</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <div class="input-group mb-3">
                      <span class="input-group-text" id="network_id_modal">id</span>
                      <input data-input-name="id" type="text" class="form-control" aria-describedby="network_id_modal" disabled>
                  </div>

                  <div class="input-group mb-3 align-items-center">
                    <span class="input-group-text" id="network_address_modal">network</span>
                    <input data-input-name="network" type="text" class="form-control" aria-describedby="network_address_modal" disabled>
                    <div class="form-check form-switch ms-2">
                      <input class="form-check-input" type="checkbox" role="switch" id="checkbox_network_to_change">
                      <label class="form-check-label" for="checkbox_network_to_change">Edit</label>
                    </div>
                  </div>


                  <div class="input-group mb-3">
                    <span class="input-group-text" id="vlan_network_modal">vlan</span>
                    <input data-input-name="vlan" type="text" class="form-control" aria-describedby="vlan_network_modal">
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="description_network_modal">description</span>
                    <input data-input-name="description" type="text" class="form-control" aria-describedby="description_network_modal">
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="network_available_address_modal">available</span>
                    <input data-input-name="available" type="text" class="form-control" aria-describedby="network_available_address_modal" disabled>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="network_used_address_modal">used</span>
                    <input data-input-name="used" type="text" class="form-control" aria-describedby="network_used_address_modal" disabled>
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text" id="network_free_address_modal">free</span>
                    <input data-input-name="free" type="text" class="form-control" aria-describedby="network_free_address_modal" disabled>
                  </div>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary save">Save</button>
                </div>
              </div>
            </div>
          </div>
    {% endif %}
    <br>
    {% if role == "Admin" %}
        <button type="button" class="btn btn-primary mb-3" id="create_row">Add new network</button>
        <section id="container_table"></section>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/network.js" type="module"></script>
    {% endif %}
{% endblock %}